.config
.repo/
.userconfig
.var.profile
*.swp
*.pyc
*.fix_b2g_stack.cache
Adreno*
Makefile
abi/
backup-*/
bionic/
bootable/
build/
dalvik/
development/
device/
download-galaxy-nexus/
download-nexus-s/
external/
frameworks/
gaia/
gecko/
gonk-misc/
hardware/
kernel/
libcore/
librecovery/
ndk/
objdir-gecko*/
out/
prebuilt/
prebuilts/
rilproxy/
sdk/
system/
vendor/
android-development.git/
android-device-hamachi.git/
apitrace/
b2g-manifest.git/
fake-dalvik.git/
gaia.git.git/
gecko.git.git/
git-repo.git/
gonk-misc.git/
gonk-patches.git/
moztt.git/
platform/
platform_build.git/
platform_external_apriori.git/
platform_external_elfcopy.git/
platform_external_elfutils.git/
platform_external_opensans.git/
platform_external_qemu.git/
platform_hardware_ril.git/
rilproxy.git/
screencap-gonk.git/
unbootimg.git/
android-device-otoro.git/
android-device-unagi.git/
codeaurora_kernel_msm.git/
device-gp-keon.git/
device-gp-peak.git/
device-inari.git/
external_compat-wireless.git/
hardware_qcom_display.git/
